<%= form_for @user, url: wizard_path do |f| %>
<%= render "layouts/errors", :object => @user %>
  <div class="field">
    <%= f.label :city %> <br>
    <%= f.text_field :city, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :state %> <br>
    <%= f.text_field :state, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :zipcode %> <br>
    <%= f.number_field :zipcode, :class => 'form-control' %>
  </div><br>
  <div class="field">
  <%= f.label :gender, "Gender:" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :female %>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :male %>
    <%= f.radio_button :gender, "other"  %>
    <%= f.label :other %>
  </div>
  <br>
  <%= f.submit "Next", :class => 'btn btn-default' %>
<% end %>
