<h2>Tell Us About You</h2>

<div class="field">
  <%= f.label :city %> <br>
  <%= f.text_field :city, :class => 'form-control' %>
</div>
<div class="field">
  <%= f.label :state %> <br>
  <%= f.text_field :state, :class => 'form-control' %>
</div>
<div class="field">
  <%= f.label :zipcode %> <br>
  <%= f.number_field :zipcode, :class => 'form-control' %>
</div>
<div class="field">
<%= f.label :gender, "Gender" %>
  <%= f.radio_button :gender, "female" %>
  <%= f.label :female %>
  <%= f.radio_button :gender, "male" %>
  <%= f.label :male %>
  <%= f.radio_button :gender, "other"  %>
  <%= f.label :other %>
</div>
<div class="field">
  <%= f.label :bio %> <br>
  <%= f.text_area :bio, :class => 'form-control' %>
</div>
<div class="field">
  <%= f.label :profile_picture %> <br>
  <%= f.file_field :image, :class => 'form-control' %>
</div>
