<h1>Create Account</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class= "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-8">
    <div class="field">
      <%= f.label :first_name %> <br>
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :last_name %> <br>
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :email %> <br>
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :password %> <br>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %><br><br>
      <%= f.submit "Next", :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
